@import url('https://fonts.cdnfonts.com/css/paint-brush-script');
@import url('https://fonts.cdnfonts.com/css/drip-october');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("./assets/cv1-01.jpg");
  background-size: contain;
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(30, 0, 50, 0.8), rgba(0, 0, 0, 0.6));
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  animation: slowFade 1s ease-in-out forwards;
}

@keyframes slowFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}